<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>test</title>
    <link type="text/css" rel="stylesheet" href="../static/materialize/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="../static/semantic.min.css">
</head>
 
<body>


<table style="empty-cells:hide; margin-left:auto; margin-right:auto;" border="1"   cellpadding="1" cellspacing="1">

  <tr>

    <td style="text-align: center; vertical-align: middle;"> 
        <label style="text-align:center; vertical-align: middle;"> </label>    
    </td>
{% for class in classes %}
    <td style="text-align: center; vertical-align: middle;"> 
        <label style="text-align:center; vertical-align: middle;">{{class}} </label>    
    </td>
{% endfor %}
  </tr>

{% for room in rooms %}
    <tr>  

    <td style="text-align: center; vertical-align: middle;">  
        <label style="text-align:center; vertical-align: middle;"> {{room}}</label>    
    </td>
   {% for class in classes %}
    <td style="text-align: center; vertical-align: middle;">  
        <input type="checkbox" name="{{room}}_{{class}}_checkbox" id="{{room}}_{{class}}" style="text-align:center; vertical-align: middle;">    
    </td>
    {% endfor %}
    </tr>
{% endfor %}

</table>



  <footer class="footer">
      <p>&copy; Copyright 2018 SANS</p>
  </footer>

<script type="text/javascript" src="../static/materialize/js/materialize.min.js"></script>
<script src="../static/jquery.js"></script>
<script src="../static/semantic.min.js"></script>
<script>

function submit_it() {
     let mydata = JSON.stringify($("#players_form").serializeArray());
     $.ajax({
          url: '/teams',
          data: mydata,
          type: 'POST',
          contentType: "application/json",
          success: function(response) {
               $('#teams').text(response);
          }
     });
};


$('select.dropdown').dropdown('set selected', {{list_of_players|safe}});
$("#update_button").click(function() {
  submit_it();
});

</script>
</body>
 
</html>




