{% extends "appbuilder/base.html" %}
{% block content %}
    <table style="empty-cells:hide; margin-left:auto; margin-right:auto;" border="1"   cellpadding="1" cellspacing="1">

  <tr>

    <td style="text-align: center; vertical-align: middle;"> 
        <label style="text-align:center; vertical-align: middle;"> </label>    
    </td>
{% for class in classes %}
    <td style="text-align: center; vertical-align: middle;"> 
        <label style="text-align:center; vertical-align: middle;">{{class}} </label>    
    </td>
{% endfor %}
  </tr>

{% for room in rooms %}
    <tr>  

    <td style="text-align: center; vertical-align: middle;">  
        <label style="text-align:center; vertical-align: middle;"> {{room}}</label>    
    </td>
   {% for class in classes %}
    <td style="text-align: center; vertical-align: middle;">  
        <input type="checkbox" name="{{room}}_{{class}}_checkbox" id="{{room}}_{{class}}" style="text-align:center; vertical-align: middle;">    
    </td>
    {% endfor %}
    </tr>
{% endfor %}

</table>
{% endblock %}

