{% extends "hydra_base.html" %}
{% block title %}CLASS LIST{% endblock %}
{% block content %}
  <div id="Matrix" class="col s12">
  <table class="centered striped"> 
    <thead> <tr><th><label>&nbsp</label></th><th>CLASS</th><th>ESX INTERFACE</th><th>IP ADDRESSES</th></tr></thead>
    <tbody>
    {% for classdetail in classes %}
      <tr id="here"><td><a href="#" onclick="modify_class(this)"><i class="small material-icons">mode_edit</i></a><a href="#" onclick="delete_class(this)"><i class="small material-icons">delete</i></a> </td><td id="sans_class_name">{{classdetail[0]}}</td><td id="sans_class_interface">{{classdetail[1]}}</td><td id="sans_class_addresses">{{classdetail[2]}}</td><tr> 
    {% endfor %} 
     </tbody>
   </table>
   <a class="modal-trigger btn-floating btn-small red" href="#add_class_modal" onclick="add_class()"><i class="material-icons">add</i></a>
  </div>

  <!-- Modal Structure -->
  <div id="add_class_modal" class="modal">
    <div class="modal-content">
      <h4>CLASS DETAIL</h4>
      <form id="modal_form">
         <p>NAME <input id="modal_form_classname" type=text name=classname>
         <p>INTERFACE<input id="modal_form_interface" type=text name=interface>
         <p>ADDRESSES<input id="modal_form_addresses" type=text name=addresses>
        </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat" onclick="submit_class()">SUBMIT</a>
    </div>
  </div>

<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
<script>
  $(document).ready(function(){
    $('.modal').modal();

  });

  function add_class() {
     $("#modal_form_classname").val("");
     $("#modal_form_interface").val("");
     $("#modal_form_addresses").val("");
     $('#add_class_modal').modal('open');
  };

  function modify_class(clicked) {
     $("#modal_form_classname").prop("disabled", true);
     $("#modal_form_classname").val($(clicked).closest('tr').find("#sans_class_name").text());
     $("#modal_form_interface").val($(clicked).closest('tr').find("#sans_class_interface").text());
     $("#modal_form_addresses").val($(clicked).closest('tr').find("#sans_class_addresses").text());
     $('#add_class_modal').modal('open');
  };

  function submit_class() {
     $("#modal_form_classname").prop("disabled", false);
     console.log( $("#modal_form").serializeArray());
     let mydata = JSON.stringify($("#modal_form").serializeArray());
     $.ajax({
          url: '/setting/class/update',
          data: mydata,
          type: 'POST',
          contentType: "application/json",
          success: function(response) {
               location.reload();
          }
     });
   };

   function delete_class(clicked) {
     if (confirm("Delete Record?")){
        $.ajax({
          url: '/setting/class/delete',
          data: JSON.stringify($(clicked).closest('tr').find("#sans_class_name").text()),
          type: 'POST',
          contentType: "application/json",
          success: function(response) {
               location.reload();
          }
        });
      };
    };
</script>

{% endblock %}


{% block footer %}
{% endblock %}



