<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>{% block title %}{% endblock %} - Hydra</title>
    <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/semantic.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
 <style>    
nav ul li a{
  color: black;
}    
</style>
 <nav class="grey">
      <ul class="tabs black">
        <li class="tab col s3 waves-effect waves-light"><a href="/matrix">Matrix</a></li>
        <li class="tab col s3 waves-effect waves-light"><a href="/setting/class/list">Classes</a></li>
        <li class="tab col s3 waves-effect waves-light"><a href="/setting/room/list">Rooms</a></li>
      </ul>
  </nav>

    {% block content %}{% endblock %}



   <div id="footer">
        {% block footer %}{% endblock %}
        &copy; Copyright 2018 by <a href="http://www.sans.org/">SANS</a>.
   </div>

</body>
 
</html>




