{% extends "hydra_base.html" %}
{% block title %}CLASS ROOM MATRIX{% endblock %}
{% block content %}
  <div id="Matrix" class="col s12">
  <form id="switch_matrix">
  <table class="centered striped"> 
    <thead> <tr><th><label>&nbsp</label></th>
    {% for class in classes %}
       <th>   <label class="yellow">{{class}} </label>  </th>
    {% endfor %}
    </tr> </thead>
    <tbody>
    {% for room in rooms %}
      <tr>  
      <td> <label>{{room}}</label> </td> 
       {% for class in classes %}
           <td><div class = "switch"><label>Off<input id="{{room}}_{{class}}" type="checkbox"><span class = "lever"></span>On</label></div></td>
       {% endfor %} 
       </tr>
     {% endfor %}
     </tbody>
   </table>
   </form>
  </div>

  <div class="row">&nbsp<div style="text-align:center" class="col s12"><a id="commit_button" class="waves-effect waves-light btn" onclick="send_switches()">COMMIT</a></div></div>
   
<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
<script>
function init_switches(enabled_checkboxes) {
     enabled_checkboxes.forEach( enabled => {
        $("#"+enabled).prop("checked",true)
     } );
}; 

  function send_switches(){
     enabled_classes = $("#switch_matrix :checked").map( function() {return this.id;} ).get();
     let mydata = JSON.stringify(enabled_classes);
     $.ajax({
          url: '/matrix',
          data: mydata,
          type: 'POST',
          contentType: "application/json",
          success: function(response) {
               location.reload();
          }
     });
   };

$(document).ready( function() {
    init_switches({{enabled|safe}});
});
</script>
{% endblock %}



